@import "../../scss/variables";

.innerMenu {
  padding: 60px 32px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f2f2f2;
  min-width: 185px;
  background-color: #fff;
  min-height: calc(100vh - 87px);
  font-size: 15px;
  @media(min-width: 2120px){
    font-size: 22px;
  }

  &__title {
    font-size: 0.8em;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-yellow;
    margin-bottom: 20px;
    @media(min-width: 2120px){
      margin-bottom: 25px;
    }
  }

  &__link {
    font-size: 0.9em;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 20px;
    @media(min-width: 2120px){
      margin-bottom: 25px;
    }

    &.active {
      color: #333333;
      font-weight: 700;
      background-image: url(../../images/active-arrow.svg);
      background-repeat: no-repeat;
      background-position: top 1px right;
      background-repeat: no-repeat;
    }
  }

  &__link--active {
    color: #333333;
    font-weight: 700;
    //background-image: url(../img/icons/active-arrow.svg);
    background-repeat: no-repeat;
    background-position: top 1px right;
    background-repeat: no-repeat;
  }
}
