@import "../../scss/variables";

.innerMenu {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  height: 100%;
  top: 86.5px;
  padding: 50px 32px;
  flex-direction: column;
  border-right: 1px solid #f2f2f2;
  min-width: 185px;
  background-color: #fff;
  min-height: calc(100vh - 87px);
  font-size: 15px;
  @media(min-width: 2120px){
    font-size: 22px;
  }

  &__title {
    font-size: 0.8em;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-yellow;
    margin-bottom: 20px;
    @media(min-width: 2120px){
      margin-bottom: 25px;
    }
  }

  &__link {
    font-size: 0.9em;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 20px;
    transition: all 0.6s ease 0s;
    @media(any-hover: hover){
      &:hover{
        color: rgba(51, 51, 51, 0.35);
        &.active{
          color: #333333;
        }
      }
    }
    @media(min-width: 2120px){
      margin-bottom: 25px;
    }
    span {
    }

    &.active {
      color: #333333;
      font-weight: 700;
      background-image: url(../../images/active-arrow.svg);
      background-repeat: no-repeat;
      background-position: top 1px right;
    }
    &.disabled{
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
}

.presets {
  &__title {
    font-size: 0.8em;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-green;
    @media(min-width: 2120px){
      margin-bottom: 25px;
    }
  }
  &__content {
    width: 100%;
    padding: 10px 0 0 0;
    a {
      margin-bottom: 5px;
      display: inline-block;
      width: 100%;
    }
  }
  &__icon{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 3px;
    padding: 0;
  }
  &__preset{
    position: relative;
    height: 100%;
  }
  &__loader div{
    width: 42px;
    height: 42px;
    border-width: 4px;
  }
}