@import "../../../scss/variables";

.card {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  margin-right: 27px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-bottom: 24px;
  position: relative;

  button {
    background-color: #fff;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
  }

  &:hover {
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12),
    0px 4px 4px -2px rgba(24, 39, 75, 0.08);

    & .header {
      opacity: 1;
      visibility: visible;
    }

    & .bg {
      opacity: 1;
      visibility: visible;
    }
  }
}

.name {
  font-weight: 700;
  font-size: 16px;
  @media(min-width: 2120px) {
    font-size: 24px;
  }
  line-height: 20px;
  letter-spacing: -0.01em;
  color: $color-black;
}

.img {
  position: relative;
  height: 70%;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(58, 58, 58, 0.54);
  border-radius: 4px 4px 0px 0px;
  z-index: 3;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;

  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding-right: 16px;
  top: 8px;
  left: 16px;
  width: 100%;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
}

.title {

}

.info {
  height: 30%;
  position: relative;
  padding: 11px 8px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  background-color: #fff;
  border-top: 1px solid $color-black-007;
}

.date {
  font-weight: 400;
  font-size: 14px;
  color: $color-black-05;
}

.card.selectedCard {
  border: 3px solid #a9c23f;
}
