@import "../../../scss/variables";

.pageHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}

.popup {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
  background-color: #a9c23f;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.closed {
  display: flex;
  position: absolute;
  bottom: -50px;
  right: 20px;
}

.wrapper {
  display: flex;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  .launch_block {
    display: flex;
    width: 100%;
    // flex-direction: column;
  }
}

.pageInfo {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 34px;
}

.task_name_input {
  background-color: #fff;
  border: 1px solid $color-black-05;
  padding: 4px 8px;
  color: $color-black-05;
  border-radius: $border-radius;
  transition: all 0.3s ease 0s;
  &:focus,
  &:hover {
    background-color: $color-black-007;
  }
  &:focus {
    color: $color-black;
  }
}

.table {
  border-spacing: 0;
  width: 80%;
  min-height: 550px;
  border: 1px solid $color-black-007;
  border-radius: $border-radius;
  .variable_input {
    width: 100%;
    background-color: #fff;
    border: 1px solid $color-black-05;
    padding: 4px 8px;
    color: $color-black-05;
    border-radius: $border-radius;
    transition: all 0.3s ease 0s;
    &:focus,
    &:hover {
      background-color: $color-black-007;
    }
    &:focus {
      color: $color-black;
    }
  }

  tbody .button_row {
    cursor: unset;
    margin-top: 10px;
    &:hover {
      box-shadow: none;
    }
  }
}

.table_row {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid $color-black-007;
  }
  &:hover {
    background-color: rgba(51, 51, 51, 0.01);
  }

  td {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    text-align: center;
  }
}

.head {
  background-color: rgba(51, 51, 51, 0.07);
  &__row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    th {
      position: relative;
      width: 50%;
      text-align: center;
      padding: 13px 0 9px 0;

      text-transform: uppercase;
      color: rgba(51, 51, 51, 0.5);
      font-weight: 400;

      &:first-child {
        &::after {
          content: '';
          width: 1px;
          background-color: rgba(51, 51, 51, 0.1);
          position: absolute;
          top: 20%;
          right: 0;
          height: 60%;
        }
      }
    }
  }
}

.periodic_block {
  width: 100%;
  .periodic {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: baseline;
    width: 100%;
  }
  button {
    margin: 20px 0;
  }
}

.set_preset {
  display: flex;
  align-items: flex-start;
  // justify-content: flex-start;
  width: 50%;

  .input_name {
    margin-right: 7px;
    height: 37px;
    background-color: #fff;
    border: 1px solid $color-black-05;
    padding: 4px 8px;
    color: $color-black-05;
    border-radius: $border-radius;
    transition: all 0.3s ease 0s;
    &:focus,
    &:hover {
      background-color: $color-black-007;
    }
    &:focus {
      color: $color-black;
    }
  }
  button {
    margin-left: unset;
  }
}

.noVariables {
  padding: 10px;
  font-size: 16px;
  border: 1px solid $color-black-007;
  border-radius: $border-radius;
  min-width: 20%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 100%;
  padding: 100px 0;
  text-align: center;
}