.info {
  display: flex;

  &__store {
    border-radius: $border-radius;
    border: 1px solid #f2f2f2;
    width: 100%;
    max-width: 437px;
    margin-right: 25px;
  }

  &__header {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #333333;
    opacity: 0.5;
    padding: 12px 24px;
    background: rgba(51, 51, 51, 0.07);
  }

  &__item {
    padding: 12px 24px 7px 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;

    &:last-child {
      border-bottom: 0px;
    }
  }

  &__category {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    &--dropdown {
      padding: 0px 18px 0px 0px;
      background-image: url(../img/icons/arrow-dropdown.svg);
      background-repeat: no-repeat;
      background-position: top 4px right;
      transition: all 0.3s ease 0s;
      cursor: pointer;
    }
  }

  &__result {
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.01em;
    color: #828282;

    &--error {
      color: $color-red;
      background-image: url(../img/icons/error.svg);
    }

    &--check {
      color: $color-green;
    }
  }

  &__result-info {
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.01em;
    span {
      margin-top: 6px;
    }
  }

  &__temp {
    display: inline-block;
    margin-right: 18px;
    color: $color-green;
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }

  &__process {
    color: $color-yellow;
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }

  &__item--change {
  }

  &__change {
    display: inline-block;
    border: 0;
    width: 100px;
    height: 20px;
    text-align: right;

    &:focus {
      border: 0;
      outline: 0;
      &::placeholder {
        color: transparent;
      }
    }

    &::placeholder {
      text-align: right;
    }
  }

  &__system {
    width: 100%;
    max-width: 700px;
    border: 1px solid #f2f2f2;
    border-radius: $border-radius;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 7px 47px;
  }

  &__error--info {
  }

  &__error {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 8px;
    color: $color-red;
  }

  &__descr {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #828282;
    max-width: 360px;
  }

  &__checkbox {
    margin-bottom: 8px;
  }
}

.checkbox {
  &__label {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #333333;
    margin-right: 12px;
    margin-top: 6px;
    cursor: pointer;
    &--error {
      color: $color-red;
    }
  }
}

.checkbox.switcher,
.radio.switcher {
  cursor: pointer;

  label {
    padding: 0;
    display: flex;
    align-items: center;

    input {
      display: none;

      & + span {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 18px;
        background: #bdbdbd;
        border-radius: 12px;
        transition: all 0.3s ease;
        padding: 2px;
        cursor: pointer;

        small {
          position: absolute;
          display: block;
          width: 14px;
          height: 14px;
          background: #fff;
          border-radius: 50%;
          transition: all 0.3s ease;
          left: 2px;
          top: 2px;
        }
      }

      &:checked + span {
        background: $color-green;
        border-color: $color-green;

        small {
          left: 50%;
        }
      }
    }
  }
}

.checkbox-wrap {
  display: flex;
  flex-direction: column;
}
