.wrapper {
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  margin-right: -27px;
  flex-wrap: wrap;
}
