@import "../../../scss/variables";

.chatForm {
  padding: 18px 0;
  position: sticky;
  bottom: 0px;
  background-color: #f9f9f9;
  justify-content: flex-start;
  z-index: 5;
  border-top: 1px solid #F2F2F2;
  height: 100%;

  textarea {
    resize: none;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    width: 100%;
    padding: 17px 17px 23px 16px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.01em;
      color: $color-black-05;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;

    span {
      margin-right: 15px;
    }
  }
}

.filesForm {
  &__input {
    opacity: 0;
    position: absolute;
    z-index: -100;
    width: 0.1px;
  }
}

.icon {
  height: 37px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: $border-radius;
  margin-right: 8px;
  background-color: transparent;
  border: none;
  position: relative;
  color: $color-black;

  path {
    transition: all 0.3s ease 0s;
  }

  &:hover {
    background-color: $color-yellow-opacity;
    color: $color-yellow;
  }
}

.files {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  position: relative;
  margin-bottom: 5px;
  font-size: 16px;

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: -3px;
    width: 2px;
    height: 100%;
    background-color: $color-yellow;
  }

  &__info {
  }

  &__title {
    display: flex;
    padding-bottom: 4px;
  }

  &__sender {
    font-weight: 700;
    margin-right: 20px;
    position: relative;

    &__you {
      color: $color-green;
    }

    &::after {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #c4c4c4;
      top:6px;
      right: -13px;
    }
  }

  &__date {
    color: $color-black-05;
  }

  &__message {
    line-height: 19px;
  }

}

.emoji {
  &__picker {
    position: absolute;
    bottom: 40px;
    left: 0;
    box-shadow: 0 6px 18px -6px rgba(24, 39, 75, 0.15),
    0 10px 32px -4px rgba(24, 39, 75, 0.15);

    animation: animationVisible 0.5s ease;
  }

  &__button {
    position: relative;
  }
}