@import "../../../scss/variables";

.card {
  position: relative;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;

  &:hover {
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12),
    0px 4px 4px -2px rgba(24, 39, 75, 0.08);
  }

  &__imageBox {
    width: 100%;
    height: 70%;
    background-color: $color-black-007;
  }

  img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
  }

  &__info {
    height: 30%;
    position: relative;
    padding: 11px 8px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    background-color: #fff;
    border-top: 1px solid $color-black-007;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    @media(min-width: 2120px) {
      font-size: 24px;
    }
    line-height: 20px;
    letter-spacing: -0.01em;
    color: $color-black;
  }
}

.cardMore {
  margin-right: 0;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

.more {
  &__body {
    transition: all 0.3s ease;
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    z-index: -100;
    top: 75%;
    right: -10%;
    background-color: #fff;
    border: 1px solid $color-black-007;
    border-radius: $border-radius;
    opacity: 0;
    visibility: hidden;

    &__visible {
      z-index: 100;
      opacity: 1;
      right: 50px;
      visibility: visible;
    }
  }

  &__item {
    cursor: pointer;
    display: inline-grid;
    grid-template-columns: 10px 1fr;
    column-gap: 12px;
    align-items: center;
    font-size: 15px;
    color: $color-black-05;
    padding: 6px 19px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-grey;
      color: rgba(51, 51, 51, 0.75);
    }

    &:first-child {
      padding-top: 9px;
    }

    &:last-child {
      padding-bottom: 9px;
    }

    &__delete {
      color: $color-red;

      &:hover {
        color: #b60006;
      }
    }

    &__solo {
      display: inline;
    }
  }
}