@import "../../scss/variables";

.checkboxWrapper {
  margin-bottom: 8px;
  font-size: 15px;
  @media(min-width: 2120px){
    font-size: 24px;
  }
}

.label {
  font-size: 0.9em;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-right: 12px;
  margin-top: 6px;
  cursor: pointer;
}

.check{
  margin-right: 50%;
  margin-left: auto;
  font-size: 0.9em;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: $color-green;
}

.error {
  color: $color-red;
}

.switcher {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  width: 100%;

  label {
    padding: 0;
    display: flex;
    align-items: center;

    input {
      display: none;

      & + span {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 18px;
        background: #bdbdbd;
        border-radius: 12px;
        transition: all 0.3s ease;
        padding: 2px;
        cursor: pointer;

        small {
          position: absolute;
          display: block;
          width: 14px;
          height: 14px;
          background: #fff;
          border-radius: 50%;
          transition: all 0.3s ease;
          left: 2px;
          top: 2px;
        }
      }

      &:checked + span {
        background: $color-green;
        border-color: $color-green;

        small {
          left: 50%;
        }
      }
    }
  }
}

.wrapperCheckbox {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}
