@import "./../../scss/variables";

.pageHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}

.pageInfo {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 34px;
  @media(min-width: 2120px){
    font-size: 28px;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  margin-right: 35px;
  button{
    margin-right: 0px;
  }
}

.plannerIcon {
  margin-right: 30px;
}

.table {
  border-spacing: 0 8px;
  width: 100%;

  th {
    text-align: left;
    padding: 13px 24px 10px 0px;
    background: rgba(51, 51, 51, 0.07);
    color: #f9c941;
    font-size: 0.9em;
    @media(min-width: 2120px){
      font-size: 22px;
      padding: 26px 48px 20px 0px;
    }
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
    margin-right: 20px;
    font-weight: 400;
  }

  th:nth-child(2){
    padding-left: 15px;
  }

  th:first-child {
    text-align: center;
    padding: 13px 24px 10px 16px;
    border-radius: 4px 0px 0px 4px;
  }

  th:last-child {
    border-right: none;
    border-radius: 0px 4px 4px 0px;
  }

  td {
    vertical-align: middle;
    line-height: 18px;
    letter-spacing: -0.03em;
    padding: 12px 24px 9px 0px;
    text-align: left;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;

    &:first-child {
      padding: 11px 16px 9px 16px;
      max-width: 61px;
      border-radius: 4px 0px 0px 4px;
    }

    &:nth-child(3){
      // padding-left: 24px;
    padding-left: 10px;
      cursor: pointer;

    }

    &:last-child {
      border-right: 1px solid #f2f2f2;
      border-radius: 0px 4px 4px 0px;
      min-width: 140px;
      margin-left: auto;
    }

  }

  td:first-child {
    border-left: 1px solid #f2f2f2;
    border-right: none;
  }

  td:nth-child(2) {
    text-align: left;
  }

  tr{
    background-color: #fff;
  }
}

td.name {
  font-weight: 400;
}
