@import "../../scss/variables";
@import "../../components/tables/TableHead/table-head.module";

.wrapper {
  padding: 36px;
  width: 100%;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;

  &__info {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }

  &__period {
    display: flex;
    align-items: center;
    width: 300px;
    p {
      font-weight: 700;
    }

    div {
      margin-left: 10px;
      color: $color-black-05;

      div span {
        font-weight: 700;
      }
    }
  }
}

.title {
  margin-right: 34px;
  @media(min-width: 2120px) {
    font-size: 28px;
  }
}

.table {
  position: relative;
  width: 100%;
  border-spacing: 0;

  tr {
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }

  th:first-child {
    border-top-left-radius: $border-radius;
  }

  th:last-child {
    border-top-right-radius: $border-radius;
  }

  td:first-child {
    border-left: 1px solid $color-black-007;
    border-bottom-left-radius: $border-radius;
  }

  td:last-child {
    border-right: 1px solid $color-black-007;
    border-bottom-right-radius: $border-radius;
  }

  th, td {
    text-align: center;
  }
}

.loader {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;

  &__search {
    div {
      position: absolute;
      top: 30px;
      left: calc(50% - 40px);
    }
    right: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
  }
}

.emptyBlock {
  height: 10px;
}

.link {
  color: $color-green;
  transition: color 0.3s ease-out;
  cursor: pointer;

  &:hover {
    color: #899d33;
    text-decoration: underline;

    svg {
      path {
        fill: #899d33;
      }
    }
  }

  svg {
    path {
      transition: fill 0.3s ease;
      fill: $color-green;
    }
  }

  &__withIcon {
    position: relative;

    span {
      svg  {
        transform: rotate(180deg);
        margin-left: 10px;
      }
    }
  }
}

.dateRangePicker {
  position: absolute;
  top: calc(100% + 20px);
  right: 10%;
  z-index: 100;
  border-radius: $border-radius;
  border: 1px solid $color-black-007;
  background-color: #fff;

  &__buttons {
    padding: 10px 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}