@import "../../../scss/variables";

.wrapper {
  width: 100%;
  padding: 36px;
}

.header {
  margin-bottom: 20px;
  border-bottom: 1px solid $color-black-007;
  padding-bottom: 10px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.body {
  padding: 10px 20px;
}

.form {
  display: flex;
  flex-direction: column;

  button[type="submit"] {
    margin-top: 10px;
    max-width: 130px;
  }
}

.files__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: $color-black-05;
  font-size: 16px;
  transition: all 0.3s ease;

  span {
    margin-top: 5px;
    margin-left: 10px;
  }

  &:hover {
    text-decoration: underline;
    color: rgba(51, 51, 51, 0.75);
  }

  &__input{
    opacity: 0;
    position: absolute;
    z-index: -100;
    width: 0.1px;
  }
}

.icon {
  height: 37px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: $border-radius;
  margin-right: 8px;
  background-color: transparent;
  border: none;
  position: relative;
  color: $color-black;

  path {
    transition: all 0.3s ease 0s;
  }

  &:hover {
    background-color: $color-yellow-opacity;
    color: $color-yellow;
  }
}

.files {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
}

.fileDrop {
  padding: 20px 0;
  position: relative;
  width: 100%;
}