@import "../../../../scss/variables";

.wrapper {
  width: 100%;
  padding-bottom: 100px;
  font-size: 14px;
  @media(min-width: 2120px){
    font-size: 22px;
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.search {
  display: flex;
  align-items: center;
  svg {
    width: 16px;
    height: 16px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  button {
    margin-left: 16px;
  }
}

.title {
  font-size: 1.5em;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: $color-black;
  margin-right: 34px;
}

.table {
  border: none;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  tr {
    background-color: #fff;
  }
  th {
    font-weight: 400;
    cursor: pointer;
    text-align: left;
    border: none;
    padding: 13px 15px 10px 15px;
    @media(min-width: 2120px){
      padding: 18px 20px 15px 20px;
    }
    background: #ededed;
    font-size: 0.9em;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
    border-top: 1px solid #f2f2f2;
    transition: all 0.3s ease 0s;
    &:first-child {
      border-radius: 4px 0px 0px 0px;
    }
    &:last-child {
      border-radius: 4px 0px 0px 0px;
    }

    &:hover {
      color: $color-black;
      -webkit-text-stroke: 0.7px #333;
    }
  }
  td {
    font-size: 1em;
    line-height: 18px;
    letter-spacing: -0.03em;
    vertical-align: initial;
    padding-top: 21px;
    padding-bottom: 10px;
    &:first-child {
      border-left: 1px solid #f2f2f2;
      width: 195px;
    }
    &:last-child {
      width: 180px;
      border-right: 1px solid #f2f2f2;
      button {
        margin: 0  0 0 auto;
      }
    }
  }
}

.error {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: $color-red;
  position: relative;
  padding-left: 20px;
  background-image: url(../../../../images/error-red.svg);
  background-repeat: no-repeat;
  background-position: left top 31px;
  cursor: pointer;
  width: 557px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.error.opened {
  padding-bottom: 25px;
  span {
    transform: rotate(-180deg);
  }
}

.border {
  color: $color-green;
  background-color: transparent;
  border: 1px solid $color-green;
}

.checkbox {
  font-weight: 700;
  span {
    margin-top: 3px;
  }
}

.iconPadding {
  padding-left: 0;
}

.loader {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}