@import "../../scss/variables";

.store {
  font-size: 16px;
  line-height: 20px;
  @media(min-width: 2120px){
    font-size: 22px;
  }
  letter-spacing: -0.01em;
  font-weight: 700;
}

.moreButton {
  background-color: $color-green;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  // white-space: nowrap;
}

.input_name {
  font-weight: 400;
  width: 100%;
  margin-right: 7px;
  height: 37px;
  background-color: #fff;
  border: 1px solid $color-black-05;
  font-size: 13px;
  @media(min-width: 2120px){
    font-size: 22px;
    padding: 4px 16px;
  }
  padding: 4px 8px;
  color: $color-black-05;
  border-radius: $border-radius;
  transition: all 0.3s ease 0s;
  &:focus,
  &:hover {
    background-color: $color-black-007;
  }
  &:focus {
    color: $color-black;
  }
}

.green{
  color: $color-green;
}

.plannerItem {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 11px 16px 8px 16px;
  @media(min-width: 2120px){
    padding: 22px 32px 16px 32px;
  }

  &.error {
    border: 1px solid #ffb1b4;
  }

  &__date {
    font-size: 14px;
    @media(min-width: 2120px){
      font-size: 22px;
    }
    line-height: 18px;
    letter-spacing: -0.03em;
    color: rgba(51, 51, 51, 0.5);
    margin-right: 85px;
    min-width: 150px;
    width: 200px;
  }

  &__period {
    div {
      div {
        margin-bottom: 0;
      }
    }

    font-size: 14px;
    @media(min-width: 2120px){
      font-size: 22px;
    }
    line-height: 18px;
    letter-spacing: -0.03em;
    color: rgba(51, 51, 51, 0.5);
    flex: 1 1 auto;
  }

  &__end {
    font-size: 14px;
    @media(min-width: 2120px){
      font-size: 22px;
    }
    line-height: 18px;
    letter-spacing: -0.03em;
    color: rgba(51, 51, 51, 0.5);
    width: 200px;
  }
}

tr.errorContainer {
  background-color: #f9f9f9;
}

.errorContainer td {
  border-top: 1px solid #ffb1b4;
  border-bottom: 1px solid #ffb1b4;
  background-color: #f9f9f9;

  &:first-child {
    border-left: 1px solid #ffb1b4;
    border-radius: 4px 0px 0px 4px;
  }

  &:last-child {
    border-right: 1px solid #ffb1b4;
    border-radius: 0px 4px 4px 0px;
  }
}

td.plannerItem__text {
  font-weight: 700;
  font-size: 16px;
  @media(min-width: 2120px){
    font-size: 22px;
  }
  line-height: 20px;
  letter-spacing: -0.01em;
  color: $color-black;
  flex: 1 1 auto;
  padding-left: 16px;
}

.buttons {
  max-width: 100px;
}

.buttonsWrap {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 8px;
  width: 100%;

  button {
    margin: 0 8px 0 0;
  }
}

.date {
  border-radius: $border-radius;
  outline: none;
  border: 1px solid $color-black-007;
  padding: 3px 5px;
  @media(min-width: 2120px){
    padding: 6px 10px;
    font-size: 22px;
  }
  color: rgba(51, 51, 51, 1);
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border: 1px solid $color-green;
    }
  }

  &__disabled {
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid rgba(131, 131, 131, 0.07);
        cursor: not-allowed;
      }
    }
  }

  &__end {
  }
}

.confirmIcon {
  color: $color-green;
  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(169, 194, 63, 0.28);
      color: rgb(135, 154, 50);
    }
  }
}
