@import "../../scss/variables";

.wrapper {
  width: 100%;
  padding: 36px;
}

.header {
  margin-bottom: 20px;
  border-bottom: 1px solid $color-black-007;
  padding-bottom: 10px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;

    button:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.ticket {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 400px;
  column-gap: 20px;

  &__body {
    position: relative;
  }

  &__name {
    color: $color-green;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    display: inline-grid;
    grid-template-columns: 30% 1fr;
    font-size: 15px;
    color: $color-black-05;
    padding: 5px 8px;
    position: relative;
    column-gap: 20%;
    align-items: center;

    &__time {
      grid-template-columns: 150px 1fr;
      column-gap: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;

      &::after {
        content: '';
        height: 1px;
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 10%;
        background-color: $color-black-007;
      }

    }

    &__title {
      text-align: right;
    }

    &__field {
      display: flex;
      width: 100%;
      align-items: center;
    }
  }
}

.info {
}

.account {

}

.description {
  background-color: #fff;
  padding: 20px;
  border-radius: $border-radius;
  border: 1px solid $color-black-007;

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: $color-black-05;
    align-items: center;
    margin-bottom: 15px;

    &__reporter {
      display: inline-flex;
      align-items: center;

      p {
        margin: 0 3px;
      }

      span {
        font-weight: 700;
      }
    }

    &__date {
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    color: $color-black-05;
    font-size: 16px;
    letter-spacing: -0.01em;
    margin-bottom: 10px;

    textarea {
      padding: 10px;
      color: $color-black-05;
      font-size: 16px;
      letter-spacing: -0.01em;
      outline: none;
      resize: none;
      height: 200px;
      border: 1px solid $color-black-007;
      border-radius: $border-radius;
      overflow-y: auto;
    }
  }
}

.subtitle {
  color: $color-black-05;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.attachments {
  height: 100%;

  &__title {
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-grid;
    grid-template-columns: 1fr 10px;
    column-gap: 10px;
    align-items: center;

    svg {
      margin-bottom: 3px;
    }

    &:hover {
      color: rgba(51, 51, 51, 0.75);
      svg {
        margin-bottom: 8px;
      }
      path {
        transition: all 0.3s ease;
        fill: rgba(51, 51, 51, 0.75);
      }
    }
  }

  &__items {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20px, 250px);
    background-color: #fdfdfd;
    column-gap: 20px;
    row-gap: 20px;
  }

  &__item {
    img {
    }
  }
}

.date {
  width: 100%;
  padding: 3px 4px;
  color: $color-black-05;
  border: 1px solid $color-black-007;
  border-radius: $border-radius;
  background-color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: $color-black-007;
  }
}

.timeIcon {
  margin-right: 10px;
}

.loader {
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
}

.input {
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border-radius: $border-radius;
  border: 1px solid $color-black-007;
  padding: 4px 12px;
  color: $color-black-05;
  align-items: center;
  transition: all 0.5s ease;

  &:hover {
    background-color: $color-black-007;
  }

  &:focus {
    background-color: rgba(51, 51, 51, 0.75);
    color: $color-grey;

    &::placeholder {
      color: $color-grey;
    }

    &:hover {
      background-color: rgba(51, 51, 51, 0.75);
    }
  }
}

.otherType {
  display: flex;
  flex-direction: column;
  text-align: center;

  button {
    margin-top: 10px;
    align-self: flex-start;
  }
}

.storeLink {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $color-green;
    text-decoration: underline;
  }
}