@import "../../../scss/variables";

.tableHead {

	th.table__center {
		text-align: center;
	}

	& .table__center {
		text-align: center;
	}

	&__sort {
		svg {
			opacity: 0;
			transition: all 0.3s ease 0s;
		}

		path {
			transition: all 0.3s ease 0s;
			fill: rgba(51, 51, 51, 0.5);
			padding-top: 2px;
		}

		&:hover {
			svg {
				opacity: 1;
			}

			path {
				fill: $color-black;
			}
		}
	}

	th {
		font-weight: 400;
		cursor: pointer;
		text-align: left;
		border: none;
		padding: 13px 15px 10px 15px;
		background: #EDEDED;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: rgba(51, 51, 51, 0.5);
		border-top: 1px solid #F2F2F2;
		transition: all 0.3s ease 0s;

		@media screen and (max-width: 1140px) {
			vertical-align: top;
		}

		&:hover {
			color: #333;
			-webkit-text-stroke: 0.7px #333;
			// text-shadow: 0 0 0.9px $color-black, 0 0 0.9px $color-black, 0 0 0.9px $color-black;
		}

		&::after {
			display: block;
			content: attr(data-text);
			font-weight: 700;
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}
	}
}