@import "../../../scss/variables";

.innerStore {
  &__head {
    margin-bottom: 35px;
  }

  &__back {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #333333;
    padding-left: 22px;
    margin-bottom: 33px;
    background-image: url(../../../images/back.svg);
    background-repeat: no-repeat;
    background-position: top 2px left;
    cursor: pointer;
    display: inline-block;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    & .dashboard-head__print {
      display: flex;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__number {
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.01em;
    margin-right: 20px;
  }

  /* &__btn {
    cursor: pointer;
    border: 0;
    background-color: $color-green;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: 700;
    padding: 10px 15px 7px 36px;
    height: 37px;
    border-radius: $border-radius;
    //background-image: url(../img/icons/deployed.svg);
    background-repeat: no-repeat;
    background-position: center left 14px;
    background-size: 14px 14px;
    min-width: 122px;
  }*/

  &__info {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__region {
    margin-right: 20px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: rgba(51, 51, 51, 0.7);

    span {
      color: $color-black;
      font-weight: 700;
      margin-left: 8px;
    }
  }
}

.dashboard__buttons {
  display: flex;
  align-items: center;
}
