@import "../../scss/variables";

.wrapper {
  padding: 50px 0px;
  background-color: $color-black;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.form {
  max-width: 400px;
  width: 100%;
  button {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 16px;
}

.link {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: rgba(255, 195, 0, 0.6);
  margin-bottom: 26px;
  transition: color 0.3s ease;

  &:hover {
    color: rgba(255, 195, 0, 0.4);
  }
}

.text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-transform: capitalize;
}

.passwordText {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: $color-yellow;
  margin-bottom: 40px;
}

.errorText {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: $color-red;
  margin-top: 14px;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.btn {
  height: 45px;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  padding: 13px 30px 9px 30px;
}

.logo {
  position: absolute;
  top: 25px;
  left: 40px;
}
