@import "../../scss/variables";
@import "../../components/tables/TableHead/table-head.module.scss";

.pageHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.pageInfo {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 34px;
}

.table {
  position: relative;
  border-spacing: 0 8px;
  width: 100%;
}

.btnIcon {
  svg {
    width: 16px;
    height: 16px;
  }
}

.btnBorder {
  color: $color-green;
  background-color: transparent;
  border: 1px solid $color-green;
  margin-right: 16px;
}

.button {
  display: flex;
  align-items: center;

  button {
    margin-left: 16px;
  }
}

.table {
  border-spacing: 0;
  width: 100%;
  letter-spacing: -0.03em;

  tbody tr {
    height: 72px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  th {
    text-align: left;
    padding: 13px 0 10px 0;
    background: rgba(51, 51, 51, 0.07);
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
    margin-right: 20px;
    font-weight: 400;

    &:first-child{
      padding-left: 18px;
      border-radius: 4px 0 0 0;
      width: 200px;
    }

    &:nth-child(2) {
      width: 300px;
    }

    &:nth-child(3), &:nth-child(6), &:nth-child(4), &:nth-child(5){
      width: 300px;
    }

    &:last-child{
      border-right: none;
      border-radius: 0 4px 0 0;
      width: 50px;
    }
  }

  td {
    vertical-align: middle;
    line-height: 18px;
    letter-spacing: -0.03em;
    padding: 11px 0 8px 0;
    text-align: left;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
    color: $color-black-05;

    &:first-child {
      width: 300px;
      padding: 11px 0 6px 18px;
      border-left: 1px solid #f2f2f2;
      border-right: none;
    }

    &:nth-child(2) {
      text-align: left;
      width: 190px;
    }

    &:last-child {
      border-right: 1px solid #f2f2f2;
    }
  }

  .btnMore {
    margin: 0 16px 0 auto;
  }
}

.checkbox {
  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-black;
  }
}

td.fail {
  color: $color-red;
  font-weight: 700;
  cursor: pointer;
}

td.success {
  color: $color-green;
  font-weight: 700;
  cursor: pointer;
}

.logsLoader{
  display: block;
  text-align: center;
  &__search {
    div {
      position: absolute;
      top: 100px;
      left: calc(50% - 40px);
    }
    right: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    background-color: rgba(117, 117, 117, 0.2);
    width: 100%;
    height: 100%;
  }
}
