@import "../../scss/variables";

.sidebar {
  position: sticky;
  top: 0;
  width: 90px;
  background-color: $color-black-007;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  z-index: 1;
  transition: 0.3s;

  font-size: 13px;

  &__title {
    display: none;
  }

  &__logo {
    margin: 0 auto 75px;
    cursor: pointer;
  }

  &__wrap {
    max-width: 240px;
  }

  &__icon {
    margin-bottom: 35px;
    color: $color-green;

    svg{
      width: 20px;
    }

    svg path {
      transition: 0.3s;
    }

    &:hover {
      color: $color-yellow;

      svg path {
        fill: $color-yellow;
      }
    }
  }

  &__item {
    padding: 0px;

    &.active {
      svg path {
        fill: $color-yellow;
      }
    }

    &:hover {
      svg path {
        fill: $color-yellow;
      }
    }
  }

  &__link {
    display: none;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: $color-red;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-left: 20px;
  }
}

.sidebarOpen, .sidebar.overlap {
  width: 240px;
  align-items: flex-start;

  .sidebar__title {
    display: block;
  }

  .sidebar__link {
    display: block;
  }

  .sidebar__icon {
    margin: 0 10px;
  }

  .sidebar__item {
    color: $color-green;
    display: inline-flex;
    align-items: center;
    font-size: 1.2em;
    line-height: 20px;
    padding: 15px 0 6px 10px;
    width: 100%;
    transition: 0.3s;
    margin-bottom: 8px;
    @media(min-width: 2120px){
      margin-bottom: 12px;
      padding: 20px 0 8px 12px;
    }
    border-radius: 4px;

    &.active {
      color: $color-yellow;
      text-shadow: 0 0 0.9px $color-yellow, 0 0 0.9px $color-yellow,
        0 0 0.9px $color-yellow;
      background-color: $color-yellow-opacity;
    }

    svg path {
      transition: 0.3s;
    }

    &:hover {
      color: $color-yellow;
      text-shadow: 0 0 0.9px $color-yellow, 0 0 0.9px $color-yellow,
        0 0 0.9px $color-yellow;
      background-color: $color-yellow-opacity;

      svg path {
        fill: $color-yellow;
      }
    }
  }
}

.sidebar.overlap{
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-black;
    overflow-x: hidden;
    transition: 0.3s;
}
