@import "../../scss/variables";
@import "../../components/tables/TableHead/table-head.module.scss";

.pageHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.pageInfo {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 34px;
  @media(min-width: 2120px){
    font-size: 28px;
  }
}

.table {
  border-spacing: 0 8px;
  width: 100%;
}

.btnIcon {
  svg {
    width: 16px;
    height: 16px;
  }
}

.btnBorder {
  color: $color-green;
  background-color: transparent;
  border: 1px solid $color-green;
  margin-right: 16px;
}

.button {
  display: flex;
  align-items: center;
  button {
    margin-left: 16px;
  }
}

.table {
  display: flex;
  width: 100%;
  flex-direction: column;
  @media(min-width: 2120px){
    font-size: 22px;
  }
  .row {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #b6b5b5;
    border-top: none;
  }
  .row:first-child {
    border-top: 1px solid #b6b5b5;
    // border-bottom: none;
  }
  span, b{
    padding: 10px;
    white-space: pre-line;
    height: 100%;
  }
  b{
    max-width: 200px;
    min-width: 20%;
  }
  span{
    border-left: 1px solid #b6b5b5;

  }
}

.checkbox {
  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-black;
  }
}

td.fail {
  color: $color-red;
  font-weight: 700;
  cursor: pointer;
}

td.success {
  color: $color-green;
  font-weight: 700;
  cursor: pointer;
}
