@import "../../../scss/variables";


.page{
  // padding: 35px;
  width: 100%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.editor{
  width: 100%;
  .codeMarker {
    background: #fff677;
    position: absolute;
    z-index: 20;
    }
}