@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.ttf") format("opentype"),
      url("../fonts/#{$file_name}.ttf") format("opentype");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include font("Speedee", "Speedee-Bold", "700", "normal");
@include font("Speedee", "Speedee-Light", "300", "normal");
@include font("Speedee", "Speedee-Regular", "400", "normal");
