@import "../../scss/variables";

.maintenanceScreen{
  &__body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 14px 16px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  &__title{
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
  }
  &__button{}
  &__content{
    display: flex;
    position: relative;
    align-items: center;
  }
}

.currentScreen {
  color: $color-black;
  background-color: $color-grey;
  border-radius: $border-radius;
  border: 1px solid $color-black-05;
  padding: 5px 7px;

  &__text{
    font-size: 16px;
  }
  &__icon{
    margin-left: 5px;
  }
}

.dropDown{
  box-shadow: 0 4px 6px -4px rgba(24, 39, 75, 0.12), 0 8px 8px -4px rgba(24, 39, 75, 0.08);
  margin-top: 5px;

  border-radius: $border-radius;
  border: 1px solid $color-black-05;
  background-color: #fff;

  display: block;
  position: absolute;
  transition: all 0.3s ease 0s;
  top: 100%;
  right: 50%;
  &__visible{
    visibility: visible;
    opacity: 1;
    font-size: 16px;
    z-index: 5;
    right: -1%;
  }
  &__hidden{
    visibility: hidden;
    opacity: 0;
  }
  &__body{
    display: flex;
    flex-direction: column;
  }
}

.innerScreen{
  position: relative;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  color: #999999;

  &:not(:last-child){
    border-bottom: 1px solid $color-black-05;
  }
  @media(any-hover: hover){
    &:hover{
      background-color: #d4d4d4;
      color: #777777;
    }
  }
  &__current{
    background-color: $color-green;
    color: #f2f2f2;
    @media(any-hover: hover){
      &:hover{
        background-color: $color-green;
        color: #f2f2f2;
      }
    }
  }
}




