@font-face {
  font-family: "Speedee";
  font-display: swap;
  src: url("../fonts/Speedee-Bold.woff") format("woff"), url("../fonts/Speedee-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Speedee";
  font-display: swap;
  src: url("../fonts/Speedee-Light.woff") format("woff"), url("../fonts/Speedee-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Speedee";
  font-display: swap;
  src: url("../fonts/Speedee-Regular.woff") format("woff"), url("../fonts/Speedee-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Speedee", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: #333333;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}

.container {
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
}

.dashboard {
  padding-left: 240px;
  margin-bottom: 60px;
}

.dashboard__opened {
  padding-left: 90px;
}

.dashboard__opened .header {
  margin-bottom: 0px;
}

.title {
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-bottom: 20px;
}

.btn {
  height: 37px;
  padding: 10px 20px 5px 20px;
  background-color: #A9C23F;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.btn.disabled-report {
  border: 1px solid rgba(51, 51, 51, 0.3);
  color: rgba(51, 51, 51, 0.3);
  background: transparent;
}

.btn.disabled-report path {
  fill: rgba(51, 51, 51, 0.3);
}

.btn-yellow {
  margin-right: 16px;
  background-color: #FFC300;
}

.sidenav {
  height: 100%;
  width: 240px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 25px;
  padding: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidenav__logo {
  margin-bottom: 75px;
  padding: 0px 20px;
}

.sidenav__title {
  font-size: 13px;
  line-height: 16px;
  color: #FFC300;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-left: 20px;
}

.sidenav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #F9F9F9;
  padding: 14px 0 6px 20px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 8px;
}

.sidenav__link path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidenav__link--active {
  text-shadow: 0 0 0.9px #FFC300, 0 0 0.9px #FFC300, 0 0 0.9px #FFC300;
  color: #FFC300;
  background-color: rgba(255, 196, 0, 0.1);
  border-radius: 4px;
}

.sidenav__link--active .sidenav__icon path {
  fill: #FFC300;
}

.sidenav__link:hover {
  text-shadow: 0 0 0.9px #FFC300, 0 0 0.9px #FFC300, 0 0 0.9px #FFC300;
  color: #FFC300;
  background-color: rgba(255, 196, 0, 0.1);
  border-radius: 4px;
}

.sidenav__link:hover .sidenav__icon path {
  fill: #FFC300;
}

.sidenav__icon {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
}

.header {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  margin-bottom: 30px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 36px;
  max-width: none;
}

.header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger {
  margin-right: 36px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.header__line {
  width: 100%;
  height: 2px;
  background-color: #333333;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin-right: 20px;
  position: relative;
}

.header__search svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header__search-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0px;
  padding: 10px 16px 6px 16px;
  width: 40px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.03em;
  background-image: url(../img/icons/searh.svg);
  background-size: 16px 16px;
  background-position: center left 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: width ease .7s, background-size ease 0.3s;
  -o-transition: width ease .7s, background-size ease 0.3s;
  transition: width ease .7s, background-size ease 0.3s;
  color: transparent;
}

.header__search-input::-webkit-input-placeholder {
  color: transparent;
  line-height: 15px;
}

.header__search-input::-moz-placeholder {
  color: transparent;
  line-height: 15px;
}

.header__search-input:-ms-input-placeholder {
  color: transparent;
  line-height: 15px;
}

.header__search-input::-ms-input-placeholder {
  color: transparent;
  line-height: 15px;
}

.header__search-input::placeholder {
  color: transparent;
  line-height: 15px;
}

.header__search-input:focus {
  background-color: #FFFFFF;
  background-size: 0px 0px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  cursor: auto;
  color: #333333;
}

.header__search-input:focus::-webkit-input-placeholder {
  font-size: unset;
  line-height: unset;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.4);
}

.header__search-input:focus::-moz-placeholder {
  font-size: unset;
  line-height: unset;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.4);
}

.header__search-input:focus:-ms-input-placeholder {
  font-size: unset;
  line-height: unset;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.4);
}

.header__search-input:focus::-ms-input-placeholder {
  font-size: unset;
  line-height: unset;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.4);
}

.header__search-input:focus::placeholder {
  font-size: unset;
  line-height: unset;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.4);
}

.header__search-input:focus .header__search-box svg {
  display: none;
}

.header__search-input:focus {
  outline: none;
}

.header__search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.header__search-result {
  position: absolute;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
          box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 9999;
  width: 100%;
  max-width: 620px;
  margin-top: 16px;
}

.header__chat-icon {
  height: 37px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.header__chat-icon path {
  fill: #333333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__chat-icon:hover {
  background-color: rgba(255, 196, 0, 0.1);
}

.header__chat-icon:hover path {
  fill: #FFC300;
}

.header__bell-wrapper {
  position: relative;
}

.header__bell-icon {
  height: 37px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.header__bell-icon path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__bell-icon .notifications-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #DB0007;
  position: absolute;
  right: 11px;
  top: 9px;
}

.header__bell-icon:hover {
  background-color: rgba(255, 196, 0, 0.1);
}

.header__bell-icon:hover path {
  fill: #FFC300;
}

.notifications {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
          box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 4px;
  width: 430px;
  margin-top: 16px;
  color: #333333;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.notifications.show-block {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: visible;
  opacity: 1;
}

.notifications__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 18px 20px 16px 24px;
  border-bottom: 1px solid #F2F2F2;
}

.notifications__item {
  padding: 18px 20px 16px 24px;
  border-bottom: 1px solid #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notifications__msg {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 6px;
}

.notifications__msg--error {
  color: #DB0007;
}

.notifications__store {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-right: 16px;
  font-weight: 700;
  color: #333333;
}

.notifications__text {
  display: inline-block;
  margin-right: 21px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(51, 51, 51, 0.7);
}

.notifications__icon {
  width: 42px;
  height: 37px;
  border-radius: 4px;
  background-color: rgba(255, 196, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notifications__icon--error {
  background-color: rgba(219, 0, 7, 0.1);
}

.header__search-input:focus + .search-result {
  display: block;
}

.search-result {
  display: none;
}

.search-result__item {
  padding: 19px 24px 16px 24px;
  cursor: pointer;
  border-bottom: 1px solid #F2F2F2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.search-result__item:hover {
  background-color: rgba(51, 51, 51, 0.05);
}

.search-result__id {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  font-weight: 700;
}

.search-result__info {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  display: inline-block;
  color: rgba(51, 51, 51, 0.7);
}

.search-result__info + .search-result__info {
  margin-left: 17px;
}

.search-result__info span {
  font-weight: 700;
  margin-left: 8px;
  color: #333333;
}

.header-account {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  margin-left: 30px;
  position: relative;
}

.header-account::before {
  content: "";
  height: 24px;
  width: 1px;
  background-color: #E0E0E0;
  position: absolute;
  left: 0;
  top: 7px;
}

.header-account__info {
  min-width: 239px;
  position: absolute;
  z-index: 6;
  top: 100%;
  left: -25px;
  margin-top: 17px;
  background-color: #fff;
  padding: 18px 24px 25px 24px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
          box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 4px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.header-account__info.show-block {
  visibility: visible;
  opacity: 1;
}

.header-account__info-name {
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.header-account__email {
  color: rgba(51, 51, 51, 0.712);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.header-account__settings {
  border-top: 1px solid #F2F2F2;
  margin: 0px -25px;
  padding: 19px 25px 0px 25px;
}

.header-account__text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  cursor: pointer;
}

.header-account__text:last-child {
  margin-bottom: 0px;
}

.header-account__text--red {
  color: #DB0007;
  cursor: pointer;
}

.header-account__icon {
  margin-right: 15px;
}

.header-account__name {
  cursor: pointer;
  font-size: 15px;
  line-height: 19px;
  color: #333333;
  padding-right: 26px;
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 4px;
}

.dashboard__wrapper {
  padding: 0px 36px;
  width: 100%;
}

.dashboard__search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-icon {
  height: 37px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.dashboard-icon path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dashboard-icon:hover {
  background-color: rgba(255, 196, 0, 0.1);
}

.dashboard-icon:hover path {
  fill: #FFC300;
}

.dashboard-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.dashboard-head__title {
  font-size: 21px;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: #333333;
  font-weight: 700;
  margin-right: 27px;
  padding-top: 0.3em;
}

.dashboard-head__input {
  margin-right: 24px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #333333;
  padding: 11px 11px 5px 34px;
  background-image: url(../img/icons/searh.svg);
  background-repeat: no-repeat;
  background-position: center left 13px;
}

.dashboard-head__input:focus {
  outline: none;
}

.dashboard-head__input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.7);
}

.dashboard-head__input::-moz-placeholder {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.7);
}

.dashboard-head__input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.7);
}

.dashboard-head__input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.7);
}

.dashboard-head__input::placeholder {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.7);
}

.dashboard-head__print {
  display: none;
  margin-right: 0px;
}

.dashboard-head__report {
  background: #A9C23F;
  border: 1px solid #A9C23F;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #F9F9F9;
  padding: 10px 28px;
  margin-left: 16px;
  cursor: pointer;
  height: 37px;
  font-weight: 700;
}

.dashboard-head__report svg {
  margin-right: 10px;
  height: 13px;
}

.dashboard-head__report path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dashboard-head__report.disabled-report {
  border: 1px solid rgba(51, 51, 51, 0.3);
  color: rgba(51, 51, 51, 0.3);
  background: transparent;
}

.dashboard-head__report.disabled-report path {
  fill: rgba(51, 51, 51, 0.3);
}

.store-list__wrapper {
  border-radius: 4px;
}

.store-list__id {
  color: #333333;
  font-weight: 700;
  cursor: pointer;
}

.store-list__sort svg {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.store-list__sort path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: rgba(51, 51, 51, 0.5);
  padding-top: 2px;
}

.store-list__sort:hover svg {
  opacity: 1;
}

.store-list__sort:hover path {
  fill: #333333;
}

.store-list__more {
  width: 42px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4px;
}

.store-list__more:hover {
  background-color: rgba(255, 196, 0, 0.1);
}

.store-list__more:hover path {
  fill: #FFC300;
}

.store-list__icon {
  margin: 0 auto;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;
  font-weight: 700;
  color: #fff;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding: 7px 11px 5px 11px;
  width: 100%;
  max-width: 180px;
  position: relative;
}

.store-list__icon svg {
  margin: -3px 4px 0px 0px;
}

.store-list__icon path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.store-list__icon.store-list__done {
  background-color: #A9C23F;
}

.store-list__icon.store-list__configuration {
  color: #FFC300;
  background: rgba(255, 196, 0, 0.1);
}

.store-list__icon.store-list__configuration::after {
  background-color: #FFC300;
}

.store-list__icon.store-list__test {
  color: #FFC300;
  background: rgba(255, 196, 0, 0.1);
}

.store-list__icon.store-list__deployment {
  color: #A9C23F;
  background: rgba(170, 194, 63, 0.1);
}

.store-list__icon.store-list__deployed {
  background: #A9C23F;
}

.store-list__icon.store-list__maintenance {
  background: #DB0007;
}

.store-list__checkbox {
  cursor: pointer;
}

.store-list__checkbox-wrap {
  cursor: pointer;
}

.store-list__checkbox-wrap > .checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.store-list__checkbox-wrap > .checkbox__input:not(:disabled):not(:checked) + .store-list__label:hover::before {
  border-color: #E0E0E0;
}

.store-list__checkbox-wrap > .checkbox__input:not(:disabled):active + .store-list__label::before {
  border-color: #E0E0E0;
}

.store-list__checkbox-wrap > .checkbox__input:checked + span::before {
  background-image: url("../img/icons/check.svg");
  background-size: 9px 9px;
}

.store-list__checkbox-wrap > .checkbox__input:disabled + span::before {
  background-color: #e9ecef;
}

.store-list__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.store-list__label::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.store-list .table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0;
}

.store-list .table th.table__center {
  text-align: center;
}

.store-list .table .table__center {
  text-align: center;
}

.store-list .table thead th {
  font-weight: 400;
  cursor: pointer;
  text-align: left;
  border: none;
  padding: 13px 15px 10px 15px;
  background: #EDEDED;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
  border-top: 1px solid #F2F2F2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.store-list .table thead th:hover {
  color: #333;
  -webkit-text-stroke: 0.7px #333;
}

.store-list .table thead th::after {
  display: block;
  content: attr(data-text);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.store-list .table tr td:last-child {
  width: 65px;
}

.store-list .table tr th:first-child,
.store-list .table tr td:first-child {
  border-left: 1px solid #F2F2F2;
}

.store-list .table tr th:last-child,
.store-list .table tr td:last-child {
  border-right: 1px solid #F2F2F2;
}

.store-list .table thead tr th:first-child {
  border-radius: 4px 0 0 0;
}

.store-list .table thead tr th:last-child {
  border-radius: 0 4px 0 0;
}

.store-list .table tbody td {
  text-align: left;
  border: none;
  padding: 17px 15px 12px 15px;
  font-size: 14px;
  vertical-align: middle;
  border-bottom: 1px solid #F2F2F2;
  max-width: 280px;
  color: #333333;
  letter-spacing: -0.03em;
}

.store-list .table tbody tr:last-child td {
  border-bottom: 1px solid #F2F2F2;
}

.store-list .table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.store-list .table tbody tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

.tippy-content {
  position: relative;
  padding: 6px 9px 5px 9px;
  z-index: 1;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
}

.hidden-nav {
  width: 90px;
  background-color: #333333;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.hidden-nav__logo {
  margin-bottom: 120px;
}

.hidden-nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden-nav__icons .hidden-nav__active path {
  fill: #FFC300;
}

.hidden-nav__icons svg {
  margin-bottom: 35px;
  cursor: pointer;
}

.hidden-nav__icons svg:hover path {
  fill: #FFC300;
}

.hidden-nav__icons svg path {
  fill: #F9F9F9;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-menu {
  padding: 60px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #F2F2F2;
  min-width: 185px;
}

.inner-menu__title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFC300;
  margin-bottom: 20px;
}

.inner-menu__link {
  font-size: 15px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 20px;
}

.inner-menu__link--active {
  color: #333333;
  font-weight: 700;
  background-image: url(../img/icons/active-arrow.svg);
  background-repeat: no-repeat;
  background-position: top 1px right;
  background-repeat: no-repeat;
}

.inner-store__head {
  padding-top: 35px;
  margin-bottom: 35px;
}

.inner-store__back {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333333;
  padding-left: 22px;
  margin-bottom: 33px;
  background-image: url(../img/icons/back.svg);
  background-repeat: no-repeat;
  background-position: top 2px left;
  cursor: pointer;
  display: inline-block;
}

.inner-store__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.inner-store__status .dashboard-head__print {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-store__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-store__number {
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: -0.01em;
  margin-right: 20px;
}

.inner-store__btn {
  cursor: pointer;
  border: 0;
  background-color: #A9C23F;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  font-weight: 700;
  padding: 10px 15px 7px 36px;
  height: 37px;
  border-radius: 4px;
  background-image: url(../img/icons/deployed.svg);
  background-repeat: no-repeat;
  background-position: center left 14px;
  background-size: 14px 14px;
  min-width: 122px;
}

.inner-store__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}

.inner-store__region {
  margin-right: 20px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 0.7);
}

.inner-store__region span {
  color: #333333;
  font-weight: 700;
  margin-left: 8px;
}

.manage__item {
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.manage__item:hover {
  -webkit-box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
          box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
}

.manage__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manage__icon {
  width: 42px;
  height: 37px;
  margin-right: 16px;
  background-color: rgba(255, 196, 0, 0.1);
  border-radius: 4px;
  background-position: center center;
  background-repeat: no-repeat;
}

.manage__icon--algorithm {
  background-image: url(../img/icons/manageStore/algorith.svg);
  background-color: rgba(255, 196, 0, 0.1);
}

.manage__icon--refresh {
  background-image: url(../img/icons/manageStore/refresh.svg);
  background-color: rgba(219, 0, 7, 0.1);
}

.manage__icon--screen {
  background-image: url(../img/icons/manageStore/screen.svg);
  background-color: rgba(16, 31, 114, 0.1);
}

.manage__icon--weight {
  background-image: url(../img/icons/manageStore/weights.svg);
  background-color: rgba(170, 194, 63, 0.1);
}

.manage__title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: #333333;
}

.manage__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manage__date {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  margin-right: 37px;
  color: rgba(51, 51, 51, 0.5);
}

.manage__type {
  margin-right: 20px;
  cursor: pointer;
}

.manage__btn-apdate {
  color: #fff;
  padding-right: 30px;
  padding-left: 30px;
}

.manage__btn--border {
  margin-right: 16px;
  color: #A9C23F;
  background-color: #fff;
  border: 1px solid #A9C23F;
}

.status-change {
  position: absolute;
  z-index: 10;
  min-width: 264px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
          box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 4px;
  margin-top: 8px;
  padding: 24px 30px 26px 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.status-change.show-block {
  opacity: 1;
  visibility: visible;
}

.status-change svg {
  width: 14px;
  height: 14px;
  margin: -5px 8px 0px 0px;
}

.status-change__deployed {
  color: #A9C23F;
}

.status-change__deployed path {
  fill: #A9C23F;
}

.status-change__item {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #A9C23F;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  cursor: pointer;
}

.status-change__item:last-child {
  margin-bottom: 0px;
}

.status-change__item--green {
  color: #A9C23F;
}

.status-change__item--yellow {
  color: #FFC300;
}

.status-change__item--error {
  color: #DB0007;
}

.status-change__maintenance path {
  fill: #DB0007;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__store {
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  width: 100%;
  max-width: 437px;
  margin-right: 25px;
}

.info__header {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.5;
  padding: 12px 24px;
  background: rgba(51, 51, 51, 0.07);
}

.info__item {
  padding: 12px 24px 7px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #F2F2F2;
}

.info__item:last-child {
  border-bottom: 0px;
}

.info__category {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.info__category--dropdown {
  padding: 0px 18px 0px 0px;
  background-image: url(../img/icons/arrow-dropdown.svg);
  background-repeat: no-repeat;
  background-position: top 4px right;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.info__result {
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #828282;
}

.info__result--error {
  color: #DB0007;
  background-image: url(../img/icons/error.svg);
}

.info__result--check {
  color: #A9C23F;
}

.info__result-info {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.01em;
}

.info__result-info span {
  margin-top: 6px;
}

.info__temp {
  display: inline-block;
  margin-right: 18px;
  color: #A9C23F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__temp img {
  margin-right: 8px;
}

.info__process {
  color: #FFC300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__process img {
  margin-right: 8px;
}

.info__change {
  display: inline-block;
  border: 0;
  width: 100px;
  height: 20px;
  text-align: right;
}

.info__change:focus {
  border: 0;
  outline: 0;
}

.info__change:focus::-webkit-input-placeholder {
  color: transparent;
}

.info__change:focus::-moz-placeholder {
  color: transparent;
}

.info__change:focus:-ms-input-placeholder {
  color: transparent;
}

.info__change:focus::-ms-input-placeholder {
  color: transparent;
}

.info__change:focus::placeholder {
  color: transparent;
}

.info__change::-webkit-input-placeholder {
  text-align: right;
}

.info__change::-moz-placeholder {
  text-align: right;
}

.info__change:-ms-input-placeholder {
  text-align: right;
}

.info__change::-ms-input-placeholder {
  text-align: right;
}

.info__change::placeholder {
  text-align: right;
}

.info__system {
  width: 100%;
  max-width: 700px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 24px 7px 47px;
}

.info__error {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 8px;
  color: #DB0007;
}

.info__descr {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #828282;
  max-width: 360px;
}

.info__checkbox {
  margin-bottom: 8px;
}

.checkbox__label {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-right: 12px;
  margin-top: 6px;
  cursor: pointer;
}

.checkbox__label--error {
  color: #DB0007;
}

.checkbox.switcher,
.radio.switcher {
  cursor: pointer;
}

.checkbox.switcher label,
.radio.switcher label {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox.switcher label input,
.radio.switcher label input {
  display: none;
}

.checkbox.switcher label input + span,
.radio.switcher label input + span {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  background: #BDBDBD;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 2px;
  cursor: pointer;
}

.checkbox.switcher label input + span small,
.radio.switcher label input + span small {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 2px;
  top: 2px;
}

.checkbox.switcher label input:checked + span,
.radio.switcher label input:checked + span {
  background: #A9C23F;
  border-color: #A9C23F;
}

.checkbox.switcher label input:checked + span small,
.radio.switcher label input:checked + span small {
  left: 50%;
}

.checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1140px) {
  .dashboard {
    padding-left: 215px;
  }

  .sidenav {
    width: 215px;
  }

  .store-list__icon {
    font-size: 11px;
    white-space: nowrap;
  }

  .store-list .table thead th {
    vertical-align: top;
  }
}